<nav class="green darken-5">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">NodeApp - Flask</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">


    
        <li><a href="/click-on-me">click on me</a></li>
 
        
        <li><a href="/about">about</a></li>



        

      </ul>
    </div>
  </nav>